p {
    font-size: 19px;
    margin-top: 30px;
}

div.margin {
    margin: 50px;
}

div.BeforeStart {
    align-items: center;
}

h1 {
    font-size: 21px;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

h2 {
    font-weight: bold;
    font-family: Arial;
    text-decoration: underline;
}

h2.Title {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2.BeforeStart {
    text-decoration: unset;
    text-align: center;
    margin: 200px;
}



h3 {
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
}

span.sample {
    font-size: 21px;
    font-family: Arial;
    background-color: yellow;
}

h4 {
    font-size: 19px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

h5 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

span.advice {
    font-size: 24px;
    font-family: Arial;
    border: 2px solid black;
    font-style: normal;
    background-color: revert;
    margin-top: 20px;
    padding: 10px;
}

span.highlight {
    background-color: yellow;
}

button {
    float: right;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 900px;
}

button.Instructions {
    margin: unset;
}

h4.History {
    font-style: unset;
    font-weight: bold;
}


/* Otree Timer */
    .otree-timer {
        display: none;
    }
