{{ load static }}
{{ block content }}
<!--External CSS & js-->
{{ include '_static/general.html' }}

<!-- Title -->
{{ block title }}
<div class="decision-title">
    <h3 class="left">Round {{ player.round_number }}</h3>
    <h3 class="center">You are <i {{ if player.role == C.p1_ROLE }} class="player-1" {{ else }} class="player-2" {{ endif }}>{{ player.role }}</i></h3>
    <h3 class="right"><u>Time:</u> <span id="time"></span></h3>
</div>
{{ endblock }}

{{ if player.role == C.p1_ROLE }}

{{ include '_static/tables/stg1_p1.html' }}

{{ else }}

{{ include '_static/tables/stg1_p2.html' }}

{{ endif }}

<!--Next Button-->
<div class="marginbttm"></div>
<div class="button">
    <button onclick="confirmDecision(event)" id="cont-btn">Continue</button>
    <button id="pop-up" class="instr-btn">Instructions</button>
</div>

<!-- Other -->
{{ include '_static/decisionPopup.html' }}
{{ include '_static/instructions/stg1/_instructions.html' }}

{{ if player.round_number != 1 }}
<div class="tablescroll">
    <div>
        <table class="history_header">
            <tr>
                <th>Stage</th>
                <th>Round</th>
                <th>Your Decision</th>
                <th>Other's Decision</th>
                <th>Your Payoff</th>
                <th>Other's Payoff</th>
                <th>Accumulated Payoff</th>
            </tr>
        </table>
        <div class="scroll">
            <table id="data_table">
                {{ for p in history }}
                <tr>
                    <td>1</td>
                    <td>{{ p.round_number }}</td>
                    <td>{{ p.decision }}</td>
                    <td>{{ p.other_decision }}</td>
                    <td>{{ p.payoff }}</td>
                    <td>{{ p.other_payoff }}</td>
                    <td>{{ p.total_payoff() }}</td>
                </tr>
                {{ endfor }}
            </table>
        </div>
    </div>
</div>
{{ endif }}

{{ endblock }}


