/* Otree Timer */
.otree-timer {
    display: none;
}

/* Otree body */
@media screen {
    div.otree-body.container {
        max-width: calc(100vw - 100px);
    }
}
.page-header {
    padding-top: 1vh;
}

/* Otree Title */
h2.otree-title {
    font-weight: bold;
    text-decoration: underline;
}

/* General Styling */
.dfont {
    font-size: 1.1vmax;
}
.nomargin {
    margin: unset;
}
p {
    font-size: 1.1vmax;
    margin-top: 2.3vh;
}
h1 {
    font-size: 1.2vmax;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}
h2 {
    font-size: 1.5vmax;
    font-weight: bold;
    font-family: Arial, serif;
    text-decoration: underline;
}
h3 {
    font-size: 1.5vmax;
    font-family: Arial, serif;
    font-weight: bold;
}
h4 {
    font-size: 1.3vmax;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
h5 {
    font-size: 0.9vmax;
    text-align: center;
}
ol li {
    margin-top: 2vh;
    font-size: 1.1vmax;
}
ul li {
    font-size: 1.1vmax;
}

/* Button Styling */
div.button {
    margin-top: 5vh;
    margin-bottom: 2vh;
    contain: content;
}
.button div {
    float: left;
}
.button button {
    margin: unset;
    float: right;
    font-size: 0.9vmax;
}
.button p {
    margin: unset;
}
.button p.bttm-sent {
    font-size: 0.8vmax;
}

/* Sample Page Header Styling */
span.sample {
    font-size: 21px;
    font-family: Arial, serif;
    background-color: yellow;
}

/* Payoff Table */
table.payoff_table {
    margin: auto;
}
.payoff_table th {
    font-size: 19px;
    text-align: center;
    border: 0;
}
.payoff_table tr.choice_upper th {
    height: 50px;
}
.payoff_table th.player1 {
    width: 100px;
    color: red;
}
.payoff_table th.player2 {
    color: blue;
}
.payoff_table span.player_1 {
    color: red;
    bottom: 0;
    left: 0;
    position: absolute;
}
.payoff_table span.player_2 {
    color: blue;
    top: 0;
    right: 0;
    position: absolute;
}
.payoff_table th.choice_below {
    width: 50px;
}
.payoff_table td {
    height: 100px;
    width: 150px;
    position: relative;
    border: 1px solid black;
    font-weight: bold;
    font-size: 26px;
}